/* Set Element to Preference */
:root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: calc(1vw + .6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    --light-color: #fff8e1;
    --medium-color: gold;
    --light-dark-color: #ffcf40;
    --dark-color: darkgoldenrod;
    --font-color: #424242;
    --red: red;
    --white: white;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: var(--font-color);
    background-color: var(--light-color);
    letter-spacing: 0.01em;
}

input {        
    padding: .6em;
    min-height: 40px;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0;
}

p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    margin: 0;
}

button:active {
    border: initial;
}

a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
    font-size: .8rem;
    padding: .3rem 1.25rem;
    letter-spacing: .03rem;
}

.button:hover, a:hover {
    color: var(--dark-color);
    background-color: #fff;
    cursor: pointer;
}

.button:active, a:active {
    color: var(--red);
}
/* End of Set Element to Preference */



/* GLOBAL */
.row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.section-bottom-space {
    margin-bottom: 2.5rem;
}

.button {
    display: inline-block;
    border-radius: .2em;
    border: 2px solid var(--dark-color);
}

.button--cta {
    background-color: var(--light-dark-color) !important;
}

.button--full-width {
    width: 100%;
    padding: .5em 0;
}

.button--white-font {
    color: white;
}
/* END OF GLOBAL */



/* HEADER MODULE */
.header {
    background-color: var(--light-dark-color);
    padding: 0.4em 0;
}

.header__inner {
    display: flex; 
    align-items: center;
}

.header__menu-more {
    display: none;
    font-size: 2.5rem;
    margin-right: 1.5625em;
    cursor: pointer;
}

@media screen and (max-width: 615px) {
    .header__menu-more {
        display: block;
    }
}

.header__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Helvetica;
    text-transform: capitalize;
}
/* END OF HEADER MODULE */



/* BANNER MODULE */
.banner {
    background-image: url(../images/bank.jpg);
    background-size: cover;
    background-color: #fffde7;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.banner__inner {
    padding: 3em 0;
    color: gold;
    text-align: right;
    font-size: 1.5em;
    text-shadow: 1px 1px gold;
}

.banner__body {
    background-color: #000;
    padding: 1.5625em;
    opacity: .6;
}

.banner__body > * + * {
    margin-top: 1em;
}
/* END OF BANNER MODULE */



/* FORM MODULE */
.form {
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form__text, .form__button {
    flex: 1;
}

.form > * + * {
    margin-left: 0;
    margin-top: 1.5625em;
}

.form {
    flex-wrap: wrap;
}

.forgot-password {
    margin-top: 1em;
    text-decoration: underline;
    font-style: italic;
    font-size: 90%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: none;
    color: var(--dark-color);
}

@media screen and (min-width: 616px) {
    .form {
        flex-direction: row;
    }

    .form__text {
        flex-grow: 2;
        flex-shrink: 1;
    }

    .form__button {
        flex-grow: 1;
        flex-shrink: 2;
    }

    .form > * + * {
        margin-left: 1em;
        margin-top: 0;
    }
}
/* END OF FORM MODULE */



/* LIST MODULE */
.list {
    margin-top: 1em;
}

.list > li {
    background-color: var(--white);
    border-radius: 0.3em;
    padding: 1.5625em;
    min-width: 200px;
}

.list--small-font > li {
    font-size: 75%;
}

.list--big-font > li {
    font-size: 1.5rem;
    padding: 1.5625em 0;
}

.list > * + * {
    margin-top: 1.5625em;
}

.list > li > * + * {
    margin-top: 1rem;
}

@media screen and (min-width: 474px) {
    .list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5625em;
        margin-top: 0;
    }
    
    .list > li {
        flex: 1 calc(50% - 1.5625em);
        margin-top: 1.5625em;
        margin-left: 1.5625em;
    }
    
    .list--big-font > li {
        margin-left: 1em;
    }
    
    .list > li > * + * {
        margin-top: .8em;
    }
}

@media screen and (min-width: 910px) {
    .list > li {
        flex: 1 calc(33.333% - 1.5625em);
    }
}
/* END OF LIST MODULE */



/* LIST-2 MODULE */
.list-2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.5625em;
}

.list-2 > * {
    flex: 1 100%;
    margin-top: 1.5625em;
}

.list-2--item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: 1px solid var(--dark-color);
    justify-content: space-around;
    padding: 0.4em 1em;
    border-radius: .3em;
    text-align: center;
    cursor: pointer;
}

.list-2--item:hover {
    background-color: var(--light-dark-color);
}

.list-2--item__1st {
    cursor: initial;
}

.list-2--item__1st:hover {
    background-color: var(--white);
}
/* END OF LIST-2 MODULE */



/* MEDIA MODULE */
.media {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media > * + * {
    margin-left: 1em;
}

.media.media > img {
    height: 3em;
    border-radius: 50%;
}
/* END OF MEDIA MODULE */



/* FOOTER MODULE */
.footer {
    background-color: #f0f2f4;
    color: #878f97;
    text-align: center;
    padding: 1em 0;
}
/* END OF FOOTER MODULE */



/* CONTAINER MODULE */
.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: -1.5625em;
}

.container > * {
    margin-left: 1.5625em;
    background-color: var(--white);
    padding: 1.5625em;
}

.container__aside {
    display: none;
}

@media screen and (min-width: 616px) {
    .container__aside {
        flex: 20;
        display: block;
    }
    
    .container__aside a {
        text-decoration: underline;
    }
}

/* CONTAINER MAIN SUB-MODULE */
.container__main {
    flex: 80;
}

.container__main > * + * {
    margin-top: 1.5625em
}
/* END OF CONTAINER MAIN SUB-MODULE */

/* MENU MODULE */
.menu {
    display: none;
    position: absolute;
    top: 0;
    background-color: #ccc;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 616px) {
    .menu {
        display: none !important;
    }
}

.menu a {
    text-decoration: underline;
}

.menu-list {
    padding: 1em 0;
}

.close-aside-container {
    display: block;
    border-radius: 0;
}

.close-aside {
    background: transparent;
    border: initial;
    font-size: 3em;
    color: var(--white);
    padding: 0
}
/* END OF MENU MODULE */